.DS_Store
bin/*/
*build-*
*~
build-tmp/
Makefile
doc/
debug.txt
.ycm_extra_conf.pyc
.ropeproject

# PyCharm Project Files
.idea

# Visual Studio Project Files
*.sdf
*.sln
*.vcxproj
*.filters
*.opendb
*.vs
